<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">    
            <!-- OVERVIEW -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <a href="/pekerjaan" class="btn btn-default"><i class="lnr lnr-arrow-left-circle"></i>&nbsp;&nbsp;&nbsp; Kembali</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BORDERED TABLE -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Ubah Pekerjaan</h3>
                                </div>
                                <div class="panel-body">
                                    
                                    <!--<form action="#" method="post">-->
                                    <form action="/pekerjaan/mengubah_pekerjaan/">                                        
                                    </form>
                                        <div class="form-group">
                                            <label for="nama_pekerjaan">Nama Pekerjaan</label>
                                            <input type="text" id="nama_pekerjaan" name="nama_pekerjaan" class="form-control form-control-lg" value="Wiraswasta">
                                        </div>
                                        <div class="gorm-group">
                                            <button class="btn btn-info btn-block btn-lg">Ubah</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <!-- END BORDERED TABLE -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OVERVIEW -->
            
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->