<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="/dashboard" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                <li><a href="/kepala_keluarga"><i class="lnr lnr-user"></i> <span>Kepala Keluarga</span></a></li>
                <li>
                    <a href="#opsi" data-toggle="collapse" class="collapsed"><i class="lnr lnr-layers"></i> <span>Opsi</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="opsi" class="collapse ">
                        <ul class="nav">
                            <li><a href="opsi_pekerjaan.html" class="">Pekerjaan</a></li>
                            <li><a href="opsi_pendidikan.html" class="">Pendidikan</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/pengguna"><i class="lnr lnr-users"></i> <span>Pengguna</span></a></li>
                <li>
                <li>
                    <a href="#pengaturan" data-toggle="collapse" class="collapsed"><i class="lnr lnr-cog"></i> <span>Pengaturan</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="pengaturan" class="collapse ">
                        <ul class="nav">
                            <li><a href="pengaturan_umum.html" class="">Umum</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->