<!doctype html>
<html lang="en">

<head>
	<title>DB-Village | {{title}}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	{% include 'pengguna/snippets/styles.html' %} <!-- STYLE CSS and IMAGE -->
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		
		{% include 'pengguna/snippets/navbar.html' %} <!-- NAVBAR -->
		
		{% include 'pengguna/snippets/sidebar.html' %} <!-- LEFT SIDEBAR -->
		
		{% include 'pengguna/snippets/main_hapus_pengguna.html' %} <!-- Main Pengguna -->

		<div class="clearfix"></div>
		{% include 'pengguna/snippets/footer.html' %}  <!-- FOOTER -->
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	{% include 'pengguna/snippets/scripts.html' %} <!-- SCRIPTS JS-->
</body>

</html>
