{% load static %}
<link rel="stylesheet" href=" {% static 'assets/css/bootstrap.min.css' %} ">
<link rel="stylesheet" href=" {% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %} ">
<link rel="stylesheet" href=" {% static 'assets/vendor/linearicons/style.css' %} ">
<!-- MAIN CSS -->
<link rel="stylesheet" href=" {% static 'assets/css/main.css' %} ">
<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
<link rel="stylesheet" href=" {% static 'assets/css/demo.css' %} ">
<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<!-- ICONS -->
<link rel="apple-touch-icon" sizes="76x76" href=" {% static 'assets/img/apple-icon.png' %} ">
<link rel="icon" type="image/png" sizes="96x96" href=" {% static 'assets/img/favicon.png' %} ">