
{% load static %}
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- OVERVIEW -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <a href="/pendidikan/tambah_pendidikan" class="btn btn-primary"><i class="lnr lnr-plus-circle"></i>&nbsp;&nbsp;&nbsp; Tambah</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BORDERED TABLE -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Pendidikan</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="1%">#</th>
                                                <th width="84%">Nama Pendidikan</th>
                                                <th width="15%">Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Taman Kanak-Kanak (TK)</td>
                                                <td>
                                                    <a href="/pendidikan/mengubah_pendidikan"><i class="lnr lnr-plus-circle"></i> Ubah</a>&nbsp;&nbsp;&nbsp;
                                                    <a href="/pendidikan/menghapus_pendidikan"><i class="lnr lnr-circle-minus"></i> Hapus</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Sekolah Dasar (SD)</td>
                                                <td>
                                                    <a href="/pendidikan/mengubah_pendidikan"><i class="lnr lnr-plus-circle"></i> Ubah</a>&nbsp;&nbsp;&nbsp;
                                                    <a href="/pendidikan/menghapus_pendidikan"><i class="lnr lnr-circle-minus"></i> Hapus</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Sekolah Menengah Pertama (SMP)</td>
                                                <td>
                                                    <a href="/pendidikan/mengubah_pendidikan"><i class="lnr lnr-plus-circle"></i> Ubah</a>&nbsp;&nbsp;&nbsp;
                                                    <a href="/pendidikan/menghapus_pendidikan"><i class="lnr lnr-circle-minus"></i> Hapus</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Sekolah Menengah Atas (SMA)</td>
                                                <td>
                                                    <a href="/pendidikan/mengubah_pendidikan"><i class="lnr lnr-plus-circle"></i> Ubah</a>&nbsp;&nbsp;&nbsp;
                                                    <a href="/pendidikan/menghapus_pendidikan"><i class="lnr lnr-circle-minus"></i> Hapus</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Sekolah Menengah Kejuruan (SMK)</td>
                                                <td>
                                                    <a href="/pendidikan/mengubah_pendidikan"><i class="lnr lnr-plus-circle"></i> Ubah</a>&nbsp;&nbsp;&nbsp;
                                                    <a href="/pendidikan/menghapus_pendidikan"><i class="lnr lnr-circle-minus"></i> Hapus</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>S1</td>
                                                <td>
                                                    <a href="/pendidikan/mengubah_pendidikan"><i class="lnr lnr-plus-circle"></i> Ubah</a>&nbsp;&nbsp;&nbsp;
                                                    <a href="/pendidikan/menghapus_pendidikan"><i class="lnr lnr-circle-minus"></i> Hapus</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>S2</td>
                                                <td>
                                                    <a href="/pendidikan/mengubah_pendidikan"><i class="lnr lnr-plus-circle"></i> Ubah</a>&nbsp;&nbsp;&nbsp;
                                                    <a href="/pendidikan/menghapus_pendidikan"><i class="lnr lnr-circle-minus"></i> Hapus</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>S3</td>
                                                <td>
                                                    <a href="/pendidikan/mengubah_pendidikan"><i class="lnr lnr-plus-circle"></i> Ubah</a>&nbsp;&nbsp;&nbsp;
                                                    <a href="/pendidikan/menghapus_pendidikan"><i class="lnr lnr-circle-minus"></i> Hapus</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END BORDERED TABLE -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OVERVIEW -->                    
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
