<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">    
            <!-- OVERVIEW -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <a href="/pengguna" class="btn btn-default"><i class="lnr lnr-arrow-left-circle"></i>&nbsp;&nbsp;&nbsp; Kembali</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BORDERED TABLE -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Tambah Pengguna</h3>
                                </div>
                                <div class="panel-body">
                                    
                                    <!--<form action="#" method="post"> -->
                                    <form action="/pengguna/tambah/">                                        
                                        <div class="form-group">
                                            <label for="nama_lengkap">Nama Lengkap</label>
                                            <input type="text" id="nama_lengkap" name="nama_lengkap" class="form-control form-control-lg">
                                        </div>
                                        <div class="form-group">
                                            <label for="nama_pengguna">Nama Pengguna</label>
                                            <input type="text" id="nama_pengguna" name="nama_pengguna" class="form-control form-control-lg">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="text" id="password" name="password" class="form-control form-control-lg">
                                        </div>
                                        <div class="gorm-group">
                                            <button class="btn btn-info btn-block btn-lg">Tambah</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <!-- END BORDERED TABLE -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OVERVIEW -->
            
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->